body {
  padding: 50px;
  color: white;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
/*_________TODO ESTE CSS ESTA APLCIADO A LAYOUT POR LO QUE TODAS LAS VISTAS TENDRAN ESTE COLOR EN COMUN_________*/ 
}
a {
  color: #00B7FF;
}
#mapid { 
  height: 800px;
}


